<section class="about-section" id="about">
    <div class="container">
        <div class="row-cols-sm-1">
            <div class="col-lg-8 mx-auto">
                <h2 class="about-author"><strong>HI! I'M ALLANA LANE DIZON</strong></h2>
                <img class="bubble-img" src="assets/abt-me.png">
                <p class="about-ability">I am a Web Developer from Philippines and got a profound knowledge of doing anything related to this platform. I also have the ability to follow and learn trending standards of the industry.
                    <br>
                    I am fully aware when it comes to Data privacy as I have work as a Student Assistant specifically in the Marketing office – Creative Services Office of Holy Angel University.
                    <br>
                    I am skillful at programming and coding languages and other skills given below:</p>
                 <div>
                 <div class="row mt-20">
                     <div class="col-md-12">
                         <div class="progress skill-bar ">
                             <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="skill"><i class="fa fa-star"></i> CSS/HTML <i class="val"> 80% </i></span> </div>
                         </div>
                         <div class="progress skill-bar">
                             <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"> <span class="skill"><i class="fa fa-star"></i> WORDPRESS <i class="val"> 65% </i></span> </div>
                         </div>
                         <div class="progress skill-bar">
                             <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"> <span class="skill"><i class="fa fa-star"></i> PHOTOSHOP <i class="val"> 83% </i></span> </div>
                         </div>
                         <div class="progress skill-bar">
                             <div class="progress-bar" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;"> <span class="skill"><i class="fa fa-star"></i> VIDEO EDITING <i class="val"> 67% </i></span> </div>
                         </div>
                         <div class="progress skill-bar">
                             <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 47%;"> <span class="skill"><i class="fa fa-star"></i> ANGULAR <i class="val"> 47% </i></span> </div>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </div>
     </div>
</section>