<section class="projects-section bg-light" id="projects">
    <div class="container-project">
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/placebyj.png" alt="placebyj" /></div>
            <div class="col-lg-6">
                <div class="bg-grey text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">PLACE BY J</h4>
                            <p class="mb-0 text-white-50">JUNE 5, 2020 in Floridablanca, Pampanga, a cosmetic and apparel business arose from scratch.<br><br> VISIT WEBSITE: <a href="#!"> Placebyj.com </a> </p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>